.footer-obtenhaacesso {
    grid-area: obtenhaacesso;
    display: grid;
}

.footer-obtenhaacesso > div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(219, 30%, 18%);
    border-radius: 10px;
}

.footer-obtenhaacesso > div h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
}

.footer-obtenhaacesso > div p {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2.5rem;
    width: 650px;
    opacity: 0.7;
    text-align: center
}

.contato {
    display: flex;
}

.footer-obtenhaacesso  input {
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 45px;
    border: none;
    color: #333;
    font-size: 1rem;
    padding: 5px 2.2rem;
    outline: none;
}

.footer-obtenhaacesso button {
    width: 200px;
    height: 50px;
    background-color: rgb(71, 135, 253);
    border-radius: 45px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

/* fim de obtenhaacesso */

footer .logo {
    grid-area: logo;
    margin-bottom: 30px;
}

/* fim de logo */

.footer-info {
    grid-area: informacoes;
    display: grid;
    align-self: baseline;
}

.footer-info-localizacao {
    display: flex;
}

.footer-info-localizacao img {
    width: 10px;
    height: 15px;
    margin-right: 20px;
}

.footer-info-localizacao p {
    width: 300px;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.footer-info-contato {
    justify-self: self-start;
}

.footer-info-contato p {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
}

.footer-info-contato img {
    margin-right: 20px;
}

.footer-info-menu {
    display: flex;
    justify-content: space-around;
    margin-top: -5px;
}

.footer-info-menu li {
    list-style: none;
}

.footer-info-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
}

.footer-info-redesociais {
    display: flex;
    justify-content: center;
}

.footer-info-redesociais a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.footer-info-redesociais a:last-child {
    margin-right: 0;
}

.footer-info-redesociais i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* fim de footer-info */

.footer-attribution {
    grid-area: rodape;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 4rem 0 2rem;
    font-size: 11px;
    text-align: center;
}

.footer-attribution a {
    color: #fff;
}

/* fim de footer-attribution */

@media screen and (min-width: 0) {
    footer {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
    }

    .footer-obtenhaacesso {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        grid-template-columns: 100%;
        justify-self: center;
        margin-top: -14rem;
        margin-bottom: 6rem;
    }

    .footer-obtenhaacesso > div {
        grid-column: 1 / 2;
        padding: 2.5rem 2.5rem;
        border-radius: 10px;
        width: 300px;
        box-sizing: border-box;
    }

    .footer-obtenhaacesso > div h1 {
        font-size: 1.5rem;
    }

    .footer-obtenhaacesso > div p {
        width: 260px;
    }
    
    .contato {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-obtenhaacesso  input {
        width: 200px;
        margin-right: 0;
        margin-bottom: 2rem;
    }
 
    footer > section > img {
        justify-self: left;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-left: 2rem;
        box-sizing: border-box;
    }

    footer > section.footer-info {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding-left: 2rem;
        box-sizing: border-box;
    }

    footer .logo {
        width: 150px;
    }

    .footer-info {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        width: 100%;
    }

    .footer-info-localizacao {
        margin-bottom: 2rem;
    }

    .footer-info-localizacao p {
        width: 250px;
    }

    .footer-info-contato {
        margin-bottom: 2rem;
    }

    .footer-info-contato img {
        height: 15px;
    }

    .footer-info-menu {
        flex-direction: column;
    }

    .footer-info-menu ul {
        margin-bottom: 3rem;
    }

    .footer-attribution {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}

@media screen and (min-width: 768px) { 
    footer {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: auto auto auto auto;
    }

    .footer-obtenhaacesso {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: -10rem;
        margin-bottom: 6rem;
        justify-self: center;
    }

    .footer-obtenhaacesso > div {
        padding: 2.5rem 5rem;
        width: 800px;
    }

    .footer-obtenhaacesso > div h1 {
        font-size: 2rem;
    }

    .footer-obtenhaacesso > div p {
        width: 650px;
    }

    .contato {
        flex-direction: row;
    }

    .footer-obtenhaacesso  input {
        width: 500px;
        margin-right: 2rem;
        margin-bottom: 0;
    }

    footer > section:nth-child(2) {
        justify-self: left;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    footer .logo {
        width: 150px;
    }

    footer > section.footer-info {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto auto auto auto;
    }

     .footer-info-menu {
        flex-direction: row;
    }

    .footer-attribution {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}

@media screen and (min-width: 1000px) {
    .footer-obtenhaacesso > div {
        padding: 2.5rem 5rem;
        width: 900px;
    }

    footer > section.footer-info {
        grid-template-columns: 30% 30% 20% 20%;
        grid-template-rows: auto auto auto auto;
    }
}
