.header-menu {
    grid-area: navegacao;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    margin-right: 40px;
}

.header-menu ul li:last-child {
    margin-right: 0;
}

.header-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

/* fim de header-menu */

.header-banner {
    grid-area: banner;
    display: grid;
    grid-template-areas: 
        "banner"
        "textos";
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    z-index: 1;
}

.header-banner img {
    grid-area: banner;
    margin-bottom: 2rem;
}

.header-banner h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.5rem;
    width: 400px;
    margin-bottom: 2rem;
}

.header-banner p {
    line-height: 1.5rem;
    text-align: center;
    width: 450px;
    margin-bottom: 2rem;
}

.header-banner button {
    width: 200px;
    height: 50px;
    background-color: rgb(71, 135, 253);
    border-radius: 45px;
    border: none;
    color: #fff;
    font-size: 15px;
    margin-bottom: 2rem;
    font-weight: 700;
}

/* fim de header-banner */

@media screen and (min-width: 0) {
    header {
        grid-template-columns: auto;
        grid-template-rows: 80px auto;
    }

    .header-menu {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0 2rem;
    }

    .header-menu ul li {
        margin-right: 20px;
    }

    .header-menu img {
        width: 100px;
    }

    .header-banner {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .header-banner img {
        width: 200px;
    }

    .header-banner h2 {
        width: 250px;
    }

    .header-banner p {
        width: 250px;
    }

    .header-banner button {
        width: 140px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) { 
    header {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 100px auto;
    }

    .header-menu {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .header-banner {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }

    .header-banner img {
        width: 500px;
    }

    .header-banner h2 {
        width: 400px;
    }

    .header-banner p {
        width: 450px;
    }

    .header-banner button {
        width: 200px;
        height: 50px;
    }
}

@media screen and (min-width: 1100px) {
    header, main, footer{
        grid-template-columns: 5% 1fr 5%;
    }
}