.header-menu {
    grid-area: navegacao;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    margin-right: 40px;
}

.header-menu ul li:last-child {
    margin-right: 0;
}

.header-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.header-banner {
    grid-area: banner;
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    display: grid;
    grid-template-areas: 
        "banner"
        "textos";
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    z-index: 1;
}

.header-banner img {
    grid-area: banner;
    width: 500px;
    margin-bottom: 2rem;
}

.header-banner h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.5rem;
    width: 400px;
    margin-bottom: 2rem;
}

.header-banner p {
    line-height: 1.5rem;
    text-align: center;
    width: 450px;
    margin-bottom: 2rem;
}

.header-banner button {
    width: 200px;
    height: 50px;
    background-color: rgb(71, 135, 253);
    border-radius: 45px;
    border: none;
    color: #fff;
    font-size: 15px;
    margin-bottom: 2rem;
    font-weight: 700;
}