@media screen and (min-width: 0) {
    :root {
        font-size: 12px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 14px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }
}

body {    
    overflow-x: none;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-color: hsl(217, 28%, 15%);
    display: grid;
    grid-template-areas: 
        "navegacao"
        "banner";
    width: 100%;
}

main {
    grid-area: main;
    background-color: hsl(218, 28%, 13%);
    display: grid;
    grid-template-areas: 
        "beneficios"
        "descubramais"
        "comentarios";
    width: 100%;
}

footer {
    background-color: hsl(216, 53%, 9%);
    grid-area: footer;
    display: grid;
    grid-template-areas: 
        "obtenhaacesso"
        "logo"
        "informacoes"
        "rodape";
    width: 100%;
}